h1 {
color: crimson;
}

h2 {
color: #013595;
}

h3 {
color: #054;
} 

h4 {
color: #ff151568;
}

h5 {
color: #6111;
}

h6 {
color: rgb(255, 134, 235);
}

p {
color: rgba(156, 124, 123, .07);
}

h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
